* {
    box-sizing: border-box;
    margin: 0;
    border: 0;    
}
#content {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
video {
    width: 100%;
}
#form-ctn {
    position: absolute;
    width: 100%;
}
#form-ctn h1 {
    color: #ecc3c3;
    font-size: 4em;
    mix-blend-mode: multiply;
    background: black;
    width: 100%;
    text-align: center;
}
#form-ctn form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    column-gap: 8px;
}
#form-ctn label {
    width: 5%;
}
#form-ctn input[type="text"] {
    width: 35%;
    align-self: stretch;
    font-size: 1.3em;
    padding: 0 10px;
}
#form-ctn button {
    outline: solid black 2px;
    border-radius: 10px;
}