* {
    box-sizing: border-box;
    margin: 0;
    border: 0;    
}
.content {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
video {
    width: 100%;
    
}
#form-ctn {
    position: absolute;
    width: 100%;
}
#form-ctn h1 {
    color: #ecc3c3;
    font-size: 4em;
    mix-blend-mode: multiply;
    background: black;
    width: 100%;
    text-align: center;
}
#form-ctn form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    column-gap: 8px;
}
#form-ctn label {
    width: 5%;
}
#form-ctn input[type="text"] {
    width: 35%;
    align-self: stretch;
    font-size: 1.3em;
    padding: 0 10px 0 20px;
    background: #ffffffc9;
}
#form-ctn input[type="text"]:focus {
    background: aliceblue;
}
#form-ctn button {
    outline: solid black 2px;
    border-radius: 10px;
}
#form-ctn button:hover {
    cursor: pointer;
    transform: scale(1.03);
}
#results {
    display: flex;
    flex-direction: column;
    position: relative;
}
#result-title {
    text-align: center;
    font-size: 3em;
}
.results-text {
    font-size: 1.5em;
    margin: 2vw 10vw;
    text-indent: 20px;
}
#results > iframe {
    margin: 0vw auto 2vw;
}
.reduced-content {
    width: 100%;
    height: 35vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.btn-cerrar {
    position: absolute;
    top: 2vw;
    right: 2vw;
    border: 1px solid black;
    padding: 2vw;
    font-size: 1.5em;
}
.btn-cerrar:hover {
    cursor: pointer;
    background-color: aliceblue;
}